<div class="row">
    <div class="col s12 m6">
      <div class="card-panel blue lighten-4">
        <div class="card-content">
          <h2>Add new room</h2>
        </div>
      </div>
    </div>
  </div>
    <form>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="price" type="text" class="validate">
          <label for="price">Price</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input  id="desc" type="text" class="validate">
          <label for="desc">Description</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input  id="img" type="text" class="validate">
            <label for="img">Image</label>
          </div>
        </div>
    </form>
    <button class="btn waves-effect waves-light float-right" type="submit" name="action">Add room</button>
